body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    background-image: url(../imagens/sobre-background.jpg);
    padding: 10px;
}
h1 + p { /*Altera a identação do primeiro parágrafo logo após o h1*/
    text-indent: 0;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}
:not(p) + p:first-line { /*Altera a primeira linha do parágrafo sem alterar os demais parágrafos*/
    font-variant: small-caps;
}
p:first-letter { /*Altera a primeira letra de cada parágrafo*/
    font-weight: bold;
}


figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center; /*Usamos para centralizar a imagem*/
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic; /*Mudar o estilo da fonte*/
    margin-top: 10px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#familia-pelho{
    float: right; /*Deixa a imagem flutuando na posição indicada*/
    margin: 0 0 10px 10px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
